.player {
  text-align: center;

  &__title {
    text-transform: uppercase;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
  }
  .playBtn {
    margin: 0;
    padding: 20px;
    border-radius: 50%;
    background-color: #f5c0c0;
    border: none;
    outline: none;
    cursor: pointer;
    
  }
  .skipBtn {
    background: none;
    margin: 0;
    padding: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
  }
}