@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

body {
margin : 1em auto;
padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
background-color: #F9EEF1;
}

.app {
  display : flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}